node_modules
.git
.next
apps/web/.next
apps/web/out
apps/web/prisma/*.db
apps/web/prisma/*.db-journal
frameworks/web/*/
frameworks/mobile/*/
frameworks/**/node_modules/
.env
.env.local
.env.*.local
.DS_Store
.idea
.vscode
*.log
.turbo
*.tsbuildinfo
README.md
